.light .sb-story {
  background-color: #f5f5f5;
}

.dark .sb-story {
  background-color: #282828;
}

.sb-story {
  width: 440px;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  justify-items: center;
  color: var(--text-color);
}
