.light .sb-story > div {
  background-color: #f5f5f5;
}

.dark .sb-story > div {
  background-color: #282828;
}

.sb-story > div {
  border-radius: 1rem;
  padding: 1rem;
  width: 375px;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--text-color);
}

.skeleton {
  background-color: green;
  min-width: 40px;
  min-height: 40px;
}
